<div class="login-container">
  <div class="auth-wrapper">
    <div class="auth-left">
      <div class="auth-left-content text-center">
        <h1 class="text-2xl fw-bold mb-md">Welcome Back</h1>
        <p class="text-sm mb-lg">Sign in to continue</p>

        <div>
          <p class="bottom-text text-sm fw-bold mb-sm">Don't have an account?</p>
          <button type="button" class="btn-left fw-semibold" (click)="goToRegister()">
            Register
          </button>
        </div>
      </div>
    </div>

    <div class="auth-right">
      <div class="card">
        <h2 class="text-xl fw-semibold mb-sm">Welcome Back</h2>
        <p class="subtitle text-sm mb-lg">Enter your Email to continue</p>

        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <label class="text-sm fw-medium">Email</label>
          <input type="email" formControlName="email" placeholder="your.email@gmail.com" />

          <label class="text-sm fw-medium">Password</label>
          <div class="password-wrapper">
            <input
              [type]="showPassword ? 'text' : 'password'"
              formControlName="password"
              placeholder="Enter your password"
            />

            <span class="toggle-icon" (click)="showPassword = !showPassword"> </span>
          </div>

          @if (errorMessage) {
          <div class="error text-xs mb-sm">
            {{ errorMessage }}
          </div>
          }

          <span class="forgot-password text-sm mb-md"> Forgot password? </span>

          <button type="submit" class="btn mt-md">Log In</button>

          @if (message) {
          <p class="system-message text-sm fw-semibold mt-sm">
            {{ message }}
          </p>
          }
        </form>
      </div>
    </div>
  </div>
</div>
