<div class="login-container">
  <div class="card">
    <h2>Welcome Back!</h2>
    <p class="subtitle">Log in to access your account.</p>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <label>Email</label>
      <input type="email" formControlName="email" placeholder="Enter your email" />

      <div class="error" *ngIf="submited && form['email'].invalid">
        Email is required and must be valid.
      </div>
      <label>Password</label>
      <div class="password-wrapper">
        <input
          [type]="showPassword ? 'text' : 'password'"
          formControlName="password"
          placeholder="Enter your password"
        />
      </div>

      <div class="error" *ngIf="submited && form['password'].invalid">Password is required.</div>

      <a class="forgot-password">Forgot Password?</a>

      <button type="submit" class="btn">Login</button>

      <p class="bottom-text">
        Don’t have an account?
        <a routerLink="/register">Register</a>
      </p>

      <p class="system-message">{{ message }}</p>
    </form>
  </div>
</div>
