@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.login-container {
  min-height: 100vh;
  @include flex-center;
  background: $auth-gradient;
}

.card {
  @include auth-card;
}

label {
  @include form-label;
}

input {
  @include input-style;
}

.password-wrapper {
  position: relative;

  input {
    padding-right: 40px;
  }

  .toggle-icon {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 18px;
  }
}

.forgot-password {
  display: block;
  margin: 10px 0;
  text-align: right;
  font-size: 0.85rem;
  color: $primary;
  cursor: pointer;
}

.btn {
  @include primary-button;
}

.bottom-text {
  margin-top: 18px;
  font-size: 0.9rem;

  a {
    color: $primary;
    font-weight: bold;
    text-decoration: none;
  }
}

.error {
  @include error-text;
}

.system-message {
  margin-top: 12px;
  font-size: 0.9rem;
  font-weight: 600;
}
