
dist/
build/
out-tsc/


.angular/
.angular/cache/
.sass-cache/

node_modules/

npm-debug.log
yarn-error.log
pnpm-debug.log
.vscode/
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.history/
.DS_Store
Thumbs.db
tmp/
connect.lock
coverage/
libpeerconnection.log
testem.log
typings/
__screenshots__/
