<div class="users-container">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-10 col-md-8 col-lg-6">
      <div class="header mb-md text-center">
        <h2 class="fw-bold">Users</h2>
      </div>

      <div class="users-search mb-md">
        <input
          type="text"
          class="w-100"
          placeholder="Search by name..."
          [(ngModel)]="searchTerm"
          (ngModelChange)="onSearchChange()"
        />
      </div>

      @if (loading) {
      <div class="state loading text-center fw-medium text-sm">Loading users...</div>
      } @else { @if (error) {
      <div class="state error text-center fw-medium text-sm">
        {{ error }}
      </div>
      } @if (!error && users.length === 0) {
      <div class="state empty text-center text-sm">No users found.</div>
      } @if (!error && users.length > 0) {
      <div class="users-card">
        <div class="users-scroll">
          @for (u of users; track trackById($index, u )) {
          <div class="user-accordion mb-sm">
            <div class="accordion-header flex-between" (click)="toggleUser(u.id)">
              <span class="user-name fw-semibold">
                {{ u.name || '-' }}
                @if (u.id === currentUserId) {
                <span class="me-badge text-xs fw-medium"> You </span>
                }
              </span>
            </div>

            @if (expandedUserId === u.id) {
            <div class="accordion-body mt-sm">
              <div class="kv-row mb-sm">
                <span class="text-sm fw-medium text-left"> ID </span>
                <span class="fw-semibold">
                  {{ u.id }}
                </span>
              </div>

              <div class="kv-row mb-sm">
                <span class="text-sm fw-medium text-left"> Email </span>
                <span class="fw-semibold">
                  {{ u.email }}
                </span>
              </div>

              <div class="kv-row mb-sm">
                <span class="text-sm fw-medium text-left"> Created At </span>
                <span class="fw-semibold">
                  {{ formatDate(u.createdAt) }}
                </span>
              </div>

              <div class="kv-row">
                <span class="text-sm fw-medium text-left"> Profile Image </span>

                @if (u.profileImage) {
                <img [src]="u.profileImage" alt="Profile" class="user-image mt-sm" />
                } @else {
                <span class="no-image-text text-sm mt-sm"> No profile image uploaded </span>
                }
              </div>
            </div>
            }
          </div>
          }
        </div>
      </div>
      } }
    </div>
  </div>
</div>
