* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Inter', sans-serif;
  color: $text-dark;
  background: #f7f9fc;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $text-dark;
  font-weight: 600;
}
input,
textarea,
select {
  font-family: inherit;
}
input:focus,
button:focus,
textarea:focus {
  outline: none;
}

button {
  font-family: inherit;
  cursor: pointer;
}
