@mixin input-style {
  width: 100%;
  padding: 12px 14px;
  border-radius: $radius;
  border: 1px solid #d4d4d4;
  outline: none;
  transition: 0.2s ease;

  &:focus {
    border-color: $primary;
    box-shadow: 0 0 0 3px rgba(109, 155, 255, 0.3);
  }
}

@mixin card {
  background: #ffffff;
  border-radius: $card-radius;
  padding: 35px 30px;
  box-shadow: $card-shadow;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
