<div class="register-container">
  <div class="auth-wrapper">
    <div class="auth-left">
      <div class="auth-left-content text-center">
        <h1 class="text-2xl fw-bold mb-md">Create Account</h1>
        <p class="subtitle text-sm mb-lg">
          Fill in your details to register & Join us to get started
        </p>

        <div>
          <p class="bottom-text text-sm mb-sm">Already have an account?</p>
          <button type="button" class="btn fw-semibold" (click)="goToLogin()">Log In</button>
        </div>
      </div>
    </div>

    <div class="auth-right">
      <div class="card">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <div class="avatar-wrapper mb-md">
            <div class="avatar" [class.has-image]="previewUrl" (click)="fileInput.click()">
              @if (previewUrl) {
              <img [src]="previewUrl" alt="Avatar" />
              } @else {
              <div class="placeholder">
                <span class="camera-icon">📷</span>
              </div>
              }
            </div>

            <input
              type="file"
              #fileInput
              accept="image/*"
              hidden
              (change)="onFileSelected($event)"
            />
          </div>

          <label class="text-sm fw-medium">Name</label>
          <input type="text" formControlName="name" placeholder="Enter your full name" />

          <label class="text-sm fw-medium">Email</label>
          <input type="email" formControlName="email" placeholder="your.email@gmail.com" />

          <label class="text-sm fw-medium">Password</label>
          <div class="password-wrapper">
            <input
              [type]="showPassword ? 'text' : 'password'"
              formControlName="password"
              placeholder="Enter your password"
            />

            <span class="toggle-icon" (click)="showPassword = !showPassword">
              <!-- icon unchanged -->
            </span>
          </div>

          <label class="text-sm fw-medium">Confirm Password</label>
          <div class="password-wrapper">
            <input
              [type]="showConfirm ? 'text' : 'password'"
              formControlName="confirmPassword"
              placeholder="Confirm your password"
            />

            <span class="toggle-icon" (click)="showConfirm = !showConfirm"> </span>
          </div>

          @if (errorMessage) {
          <div class="error text-xs mb-sm">
            {{ errorMessage }}
          </div>
          }

          <button type="submit" class="btn mt-md">Register</button>

          @if (message) {
          <p class="system-message text-sm fw-semibold mt-sm">
            {{ message }}
          </p>
          }
        </form>
      </div>
    </div>
  </div>
</div>
