<div class="profile-page">
  <div class="profile-layout">
    @if (user) {
    <aside class="profile-sidebar">
      <div class="avatar-block text-center">
        <div class="avatar-wrapper" (click)="openImage()">
          @if (user.profileImage) {
          <img [src]="user.profileImage" alt="Avatar" />
          } @else {
          <div class="avatar-fallback fw-bold">
            {{ user.name.charAt(0) | uppercase }}
          </div>
          }
        </div>
      </div>

      <button class="logout-btn mt-lg" (click)="logout()">
        <img src="/icons/logout.svg" alt="" />

        <span class="logout-text">
          <span>S</span>
          <span>i</span>
          <span>g</span>
          <span>n</span>
          <span>O</span>
          <span>u</span>
          <span>t</span>
        </span>
      </button>
    </aside>

    <section class="profile-content">
      <header class="content-header mb-lg">
        <h1 class="fw-bold">Profile Information</h1>
        <p class="text-sm">Manage your account details and preferences</p>
      </header>

      <div class="content-section mb-lg">
        <p class="section-title text-xs fw-medium">PERSONAL INFORMATION</p>

        <div class="info-card">
          <div class="icon-box accent-blue">
            <img src="/icons/user.svg" alt="" />
          </div>
          <div class="label text-xs">FULL NAME</div>
          <div class="value">{{ user.name }}</div>
        </div>

        <div class="info-card">
          <div class="icon-box accent-purple">
            <img src="/icons/email.svg" alt="" />
          </div>
          <div class="label text-xs">EMAIL ADDRESS</div>
          <div class="value">{{ user.email }}</div>
        </div>
      </div>

      <div class="content-section">
        <p class="section-title text-xs fw-medium">ACCOUNT DETAILS</p>

        <div class="info-row-grid">
          <div class="mini-card">
            <div class="mini-label text-xs">USER ID</div>
            <div class="mini-value">{{ user.id }}</div>
          </div>

          <div class="mini-card">
            <div class="mini-label text-xs">PROFILE IMAGE</div>
            @if (user.hasProfileImage) {
            <div class="badge">Uploaded</div>
            } @else {
            <div class="badge muted">Not uploaded</div>
            }
          </div>
        </div>
      </div>

      @if (showImage && user.profileImage) {
      <div class="image-overlay" (click)="showImage = false">
        <img [src]="user!.profileImage!" alt="Profile Image" />
      </div>
      }
    </section>
    }
  </div>
</div>
